<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    
      <div class="about content">
        <h1>This is the about page.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sed sit deleniti cum cumque omnis vitae
          quibusdam atque consequuntur officiis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sed sit deleniti cum cumque omnis vitae
          quibusdam atque consequuntur officiis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sed sit deleniti cum cumque omnis vitae
          quibusdam atque consequuntur officiis.</p>
      </div>
      <%- include('./partials/footer.ejs') %>
  </body>

</html>